@charset "UTF-8";
@font-face {
  font-family: PF Din;
  /* Имя шрифта */
  src: url(../fonts/pfdin.ttf);
  /* Путь к файлу со шрифтом */
}

* {
  font-family: "PF Din", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.cart-icon {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-radius: 50%;
  background-color: #f90;
  z-index: 999;
}

@media (max-width: 767.98px) {
  .cart-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  padding: 25px 0;
  background-color: #fff;
  width: 100%;
}

@media (max-width: 575.98px) {
  .header {
    padding-bottom: 15px;
  }
}

.header_fixed {
  z-index: 999;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.header-top__burger {
  display: none;
  position: relative;
  right: 0;
  top: 0;
}

@media (max-width: 575.98px) {
  .header-top__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 30px;
    margin-right: 0;
    height: 20px;
  }
  .header-top__burger span {
    position: absolute;
    background-color: #f90;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header-top__burger::before, .header-top__burger::after {
    content: "";
    background-color: #f90;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header-top__burger::before {
    top: 0;
  }
  .header-top__burger::after {
    bottom: 0;
  }
  .header-top__burger_active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header-top__burger_active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .header-top__burger_active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header-top__logo {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header-top__text {
    display: none;
  }
}

.header-top__text h1 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.header-top__text p {
  font-size: 14px;
  color: #999;
  letter-spacing: 0.9px;
  margin-bottom: 0;
}

.header-top__text small {
  color: #999;
  font-size: 13px;
}

.header-top__text small a {
  color: #f90;
}

@media (max-width: 767.98px) {
  .header-top__phone {
    text-align: right;
  }
}

@media (max-width: 575.98px) {
  .header-top__phone {
    text-align: center;
  }
}

.header-top__phone p {
  font-size: 16px;
  margin: 0;
  color: #999;
  letter-spacing: 1.1px;
}

.header-top__phone a {
  font-size: 20px;
  color: #333333;
}

.header-top__halal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .header-top__halal {
    display: none;
  }
}

.header-top__halal img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.header-top__halal p {
  font-size: 16px;
  color: #999;
  margin-bottom: 0;
}

.header-bottom {
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.header-bottom_fixed {
  position: fixed;
  top: 0;
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.header-bottom__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  width: 100%;
}

@media (max-width: 767.98px) {
  .header-bottom__menu {
    padding-top: 20px;
  }
}

@media (max-width: 575.98px) {
  .header-bottom__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 20px 0;
  }
  .header-bottom__menu li a {
    font-size: 21px !important;
  }
}

.header-bottom__menu li a {
  font-size: 18px;
  color: #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.header-bottom__menu li a:hover {
  color: #f90;
}

.header-bottom__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767.98px) {
  .header-bottom__cart {
    display: none;
  }
}

.header-bottom__cart .price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-bottom__cart .price small {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.header-bottom__cart .price span {
  color: #999;
}

.header-bottom__cart .price span::after {
  content: "";
  position: relative;
  top: -2.5px;
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  border-left: 2px solid #f90;
  border-bottom: 2px solid #f90;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-bottom__cart .price_active span::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.header-bottom__cart button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: #f90;
  color: #ffffff;
}

.header-bottom .cart {
  position: absolute;
  top: 60px;
  display: none;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.header-bottom .cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.header-bottom .cart-block {
  padding: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.header-bottom .cart-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom .cart-block__top svg {
  position: relative;
  top: -2px;
}

.header-bottom .cart-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .cart-block__bottom .counter span {
  vertical-align: middle;
  margin: 0px 10px;
}

.header-bottom .cart-block__bottom .counter svg {
  border: 1px solid #f90;
  border-radius: 20%;
}

.header-bottom .cart h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.lang-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-choice_mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .lang-choice_mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 767.98px) {
  .lang-choice {
    display: none;
  }
}

.lang-choice a {
  font-size: 16px;
  color: #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.lang-choice a:hover {
  color: #f90;
}

.lang-choice .active {
  color: #f90;
}

.sale-slider img {
  margin: 0px 20px;
  outline: none;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 998;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 25px;
}

.slick-prev::before {
  content: "←";
}

.slick-next {
  right: 25px;
}

.slick-next::before {
  content: "→";
}

.product-card {
  margin-top: 15px;
}

.product-card .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.product-card .counter .active-btn {
  padding: 0;
  margin: 0px 10px;
}

.product-card .counter svg {
  color: #fff;
  font-weight: bold;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 24px;
}

.product-card p {
  color: #878686;
  font-size: 18px;
}

.product-card small {
  font-size: 18px;
  color: #878686;
}

.product-card small::before {
  content: "";
  position: relative;
  top: 12px;
  left: 0;
  display: block;
  width: 55px;
  height: 2px;
  background: #f90;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.product-card span {
  font-size: 25px;
}

.product-card button {
  border: 1px solid #f90;
  color: #f90;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
}

.product-card button:hover {
  color: #fff;
  background-color: #f90;
}

.product-card_drink {
  margin-top: 15px;
}

.product-card_drink h3 {
  float: left;
}

.product-card_drink button {
  float: none;
}

.delivering h3 {
  font-size: 20px;
  font-weight: 500;
  color: #f90;
}

.delivering p {
  font-size: 18px;
}

.delivering p a {
  color: #ff9900;
}

.delivering button {
  background: #f79503;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.delivering button:hover {
  background-color: #fff;
  color: #ff9900;
  border: 1px solid #ff9900;
}

.footer {
  background: #373535;
  color: #fff;
  padding-top: 50px;
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px 0 0;
  padding: 30px 0;
}

.footer__bottom img {
  width: 20px;
}

.footer-top__address img {
  height: 45px;
}

.footer-top__address h4 {
  font-size: 20px;
}

.footer-top__phone {
  text-align: right;
}

@media (max-width: 767.98px) {
  .footer-top__phone {
    text-align: left;
  }
}

.footer-top__phone span {
  display: block;
  margin-top: 35px;
}

@media (max-width: 767.98px) {
  .footer-top__phone span {
    margin-top: 0;
  }
}

.footer-top__phone img {
  height: 45px;
}

.footer-top__phone p {
  margin: 0;
}

.footer-top__phone a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
}

.about img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media (max-width: 575.98px) {
  .about__card {
    padding-right: 0;
  }
}

.cart {
  padding: 20px 0 5px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 50px;
}

.add-goods__slider {
  padding-bottom: 20px;
}

.add-goods__slider .product-card {
  margin: 0px 10px;
  outline: none;
}

.ordering .active-btn {
  margin-top: 15px;
}

.ordering__sum p {
  font-size: 20px;
  margin-bottom: 0;
}

.ordering__sum p span {
  color: #f90;
}

.active-btn {
  font-weight: 500;
  background: #f90;
  color: #fff;
  width: 100%;
}

.checkout {
  padding-bottom: 20px;
}

.checkout__variant {
  display: none;
}

.checkout input,
.checkout textarea {
  margin: 10px 0;
}

.checkout .form-check-input {
  margin: 0;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #f90;
}

.checkout .form-check-label {
  cursor: pointer;
}

.checkout p {
  margin: 0;
}
